LEARN_WEB3_API_KEY=""

# private key of the wallet controlling the bot
KEY=""

# production or development
XMTP_ENV="production"

# the redis connection url, you can get one on https://upstash.com/
REDIS_CONNECTION_STRING=""