LEARN_WEB3_API_KEY=""

# private key of the wallet controlling the bot
KEY=""

# production or development
XMTP_ENV="production"

# the redis connection url, you can get one on https://upstash.com/
REDIS_CONNECTION_STRING=""

# the claim window in hours
CLAIM_WINDOW=1

# how many times a user can claim in that window (default 1)
MAX_CLAIM_COUNT=1